page-home {

}

.notice {
	text-align: center;
}

.proceedbtn {
	position: absolute;
	left: 100px;
	top: 400px;
	background-color: #5ee66b;
	box-shadow: 3px;
	
}

.proceedbtn:hover {
	background-color: #50c15b !important;
}